.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:  25px 10px;
    padding-bottom: 30px;
}
.welcome {
    display: flex;
    flex-wrap: wrap;
}

.wel-text {
    font-size: 24px;
    line-height: 35px;
    margin: 25px 0;
    word-break: break-all;
}
.wel-footer {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    overflow: hidden;
}
.wel-img {
    width: 30%;
    flex-grow:1; 
}
.wel-img img {
    height: 100%;;
}
.wel-contact {
    position: relative;
    display: flex;
    margin-left: 1px; 
    background: #14916a;
    flex-grow: 1;
    flex-direction: column;
    padding: 15px;
    box-sizing: content-box;
}
.spe-phone {
    display: flex;
    margin-bottom: 10px;
}
.spe-phone img {
    width: 10%;
    vertical-align: bottom;
    margin-top: -5px;
}
.phone {
    font-size: 36px;    
    color: #fff;
    margin-top: -8px;
    margin-left: 20px;
}
.contact {
    padding: 0.2em 1.5em;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #fff;
    font-size: 24px;
    color: #14916a;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.contact:hover {
    background: cyan;
    color: #bbbbbb;
}
.server {
    margin-top: 30px;
}
.server-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.server-img-item {
    width: 49%;
    display: flex;
    justify-content: center;
    position: relative;

    margin-bottom: 8px;
    align-items: center;
}
.server-img-item img {
    width: 100%;
}
.server-img-item:hover>.lay {
    display: flex;
}
.lay {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    top: 60px;
    bottom: 60px;
    left: 60px;
    right: 60px;
    font-size: 36px;
    background: rgba(0, 0, 0, .5);
}
