.main {
    padding: 0 10px;
}
.case-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.case-item {
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}
.case-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.case-item img{
    width: 100%;
    position: relative;
    
}
.case-item::after {
    content: "";
    position: absolute;
    right: -30px;
    top: -30px;;
    width: 60px;
    height: 60px;
    background: rgba(20, 145, 106, .5);
    transform: rotate(45deg);
}
.case-item:hover div {
    display: flex;
}
.beau {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 40px;
    bottom:40px;
    right: 40px;
    background: rgba(0, 0, 0, .7);
    color: #ffffff;
    font-size: 40px;
}
.news-page {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.news-page a {
    display: flex;
    width: 172px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: #14916a;
    color: #ffffff;
    font-size: 28px;
    line-height: 35px;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
}
.news-page a:hover {
    background:cyan;
}